<!DOCTYPE html>
<html>
<body>
<!-- Input PubHub JavaScript below -->
<link rel="stylesheet" href="//s3-us-west-2.amazonaws.com/pubhub-prod/static/sdk/pubhub.css" />
<script type="text/javascript" src="//s3-us-west-2.amazonaws.com/pubhub-prod/static/sdk/pubhub.js"></script>
<div id="docs"></div> 
<script>
PubHub.createDocPage({
    container: document.getElementById("docs"),
    location: "//pubhub-prod.s3-us-west-2.amazonaws.com/media/sandbox-outage/docs/"
})
</script>
<!-- Input PubHub JavaScript above -->
</body>
</html>